<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondtry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.decks.Decks" />
        <activity android:name=".ui.decks.AddDeck" />
        <activity android:name=".ui.decks.EditDeck"/>
        <activity android:name=".ui.decks.TypeChoice"/>
        <activity android:name=".ui.ownQuestions.AddOwnQuestion"/>

        <activity android:name=".ui.Play.Play" />
        <activity android:name=".ui.Play.PlayerSelection" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>